@{
    ViewData["Title"] = "Home Page";
}
<img src="~/css/majie - Copy.jpg" />
<div class="text-center">
    <h1>WELCOME TO REFS WEBSITE!</h1>
    <p>Bachelor of Science in Information Technology</p>
    <p2>College of Computer Studies</p2>
</div>
