<table>
    <tr>
        <th rowspan="2">Section</th>
        <th rowspan="2">Code</th>
        <th rowspan="2">Course Title</th>
        <th rowspan="2">Units</th>
        <th colspan="2">Asynchronous</th>
        <th colspan="2">Face to Face Time</th>
        <th rowspan="2">Teacher</th>
    </tr>
    <tr>
        <td class="alien-bg">Day</td>
        <td class="alien-bg">Time</td>
        <td class="alien-bg">Day</td>
        <td class="alien-bg">Time</td>
    </tr>
    <tr>
        <td>BSIT32E3</td>
        <td>ELEC323</td>
        <td>IT Elective 3</td>
        <td>3</td>
        <td>Thursday</td>
        <td>5:00PM-7:00PM</td>
        <td>Saturday</td>
        <td>1:00PM-4:00PM</td>
        <td>Prof. Alamo</td>
    </tr>
</table>