html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 13px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem black, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('picpic.jpg');
}

img{
    height:20%;
    width:20%;
    margin: 10px -400px 0px 490px;

}
h1{
    font-family:'Times New Roman';
}

p{
    font-family:'Times New Roman';
    font-size:small ;
}

p2{
    font-family: 'Bahnschrift';
    font-size:small ;

}

